In [1]:
print(f":D")

:D

In [4]:
1/2/3

0.16666666666666666

In [5]:
4/2

2.0

In [6]:
3^2

1

In [7]:
3**2

9

In [9]:
16//3

5

In [10]:
#all the different ways to make 15 challenge
15/1
60/4
5*3
1*15

15.0

In [12]:
#using and trying exponents challenge
print(3**2)
print(3**9)
print(4**2)
#floor divide self challenge
print(16//3)
print(20//3)

9
19683
16
5
6

In [17]:
#string practise
print("Those things have no walls on them !")
print('Those things have no walls on them ! ')
print('''Those things
have no
walls on them ! ''')
print('Those things have no walls on them ! '.upper())
print('Those things have no walls on them ! '.lower())
print('Those things have no walls on them ! '.title())

Those things have no walls on them !
Those things have no walls on them !
Those things
have no
walls on them !
THOSE THINGS HAVE NO WALLS ON THEM !
those things have no walls on them !
Those Things Have No Walls On Them !

In [20]:
#variable practise
name = 'Sheldon'
print(name)

print(f"My favourite character in TBBT is {name}.")

Sheldon
My favourite character in TBBT is Sheldon.

In [24]:
name = 'Maya'
age = 15

print(f"My name is {name.upper()} and I am {age} years old.")

My name is MAYA and I am 15 years old.

In [31]:
def favouriteCharacter(characterName, showName):
    print(f"My favourite character in {showName} is {characterName}.")

favouriteCharacter('Sheldon', 'The Big Bang Theory')

def squareNumber(number):
    newNumber = 9**2
    return(newNumber)

print(squareNumber(9))

My favourite character in The Big Bang Theory is Sheldon.
81

In [32]:
def timesTwo(number):
    newNumber = number*2
    return(newNumber)

timesTwo(9)

18

In [33]:
def nameAndAge(name, age):
    print(f"In The Big Bang Theory, {name} is {age} years old.")

nameAndAge('Rajesh Koothrapali', 35)

In The Big Bang Theory, Rajesh Koothrapali is 35 years old.

In [50]:
characters = ['Sheldon', 'Penny', 'Leonard', 'Howard', 'Raj', 'Bernadette', 'Amy']
ages = [27, 33, 27, 41, 28, 29, 30]

print(f"Character is {characters[0]} age is {ages[0]}")
print(f"{characters[-1]} is {ages[-1]} years old.")
print(f"{len(characters)}")
print(f"{len(ages)}")

characters.append('Stuart')
print(characters)

characters.insert(0, 'Barry')
print(characters)

del characters[0]
print(characters)

ages.pop()
print(ages)

characters.remove("Stuart")
print(characters)

print(f"{characters[0]} is {ages[0]} years old.")

Character is Sheldon age is 27
Amy is 30 years old.
7
7
['Sheldon', 'Penny', 'Leonard', 'Howard', 'Raj', 'Bernadette', 'Amy', 'Stuart']
['Barry', 'Sheldon', 'Penny', 'Leonard', 'Howard', 'Raj', 'Bernadette', 'Amy', 'Stuart']
['Sheldon', 'Penny', 'Leonard', 'Howard', 'Raj', 'Bernadette', 'Amy', 'Stuart']
[27, 33, 27, 41, 28, 29]
['Sheldon', 'Penny', 'Leonard', 'Howard', 'Raj', 'Bernadette', 'Amy']
Sheldon is 27 years old.

In [52]:
characters = ['Sheldon', 'Penny', 'Leonard', 'Howard', 'Raj', 'Bernadette', 'Amy']
print(f"{characters}")

for name in characters:
    info = (f"The character name is {name}")
    print(info)

['Sheldon', 'Penny', 'Leonard', 'Howard', 'Raj', 'Bernadette', 'Amy']
The character name is Sheldon
The character name is Penny
The character name is Leonard
The character name is Howard
The character name is Raj
The character name is Bernadette
The character name is Amy

In [57]:
numbers = [1, 2, 3]
squareNumbers = []

for number in numbers:
    squareNumbers.append(number**2)
    
print(squareNumbers)

[1, 4, 9]

In [63]:
numbers = range(1,11)

for item in numbers : 
    if item%2 == 0:
        print(item)

print(list(range(1,11)))

2
4
6
8
10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [69]:
numbers = list(range(1,11))
print(numbers)
greaterThanFive = []

for item in numbers :
    if item>5:
        greaterThanFive.append(item)

print(greaterThanFive)

print(3<2)
print(1>4)
print(5>3)
print(7==7)

a = 4
b = 6
print(a == b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[6, 7, 8, 9, 10]
False
False
True
True
False

In [77]:
characters = ['Sheldon', 'Penny', 'Leonard', 'Howard', 'Raj', 'Bernadette', 'Amy']
#ages = [27, 33, 27, 41, 28, 29, 30]

for name in characters : 

    if name == 'Sheldon':
        print(f"{name} is 27")
    elif name == 'Penny' :
        print(f"{name} is 33")
    elif name == 'Leonard' :
        print(f"{name} is 27")
    elif name == 'Howard' :
        print(f"{name} is 41")
    elif name == 'Rajesh' :
        print(f"{name} is 28")
    elif name == 'Bernadette' :
        print(f"{name} is 29")
    else:
        print(f'{name} is 30')

Sheldon is 27
Penny is 33
Leonard is 27
Howard is 41
Raj is 30
Bernadette is 29
Amy is 30

In [98]:
import random

characters = ['Sheldon', 'Penny', 'Leonard', 'Howard', 'Raj', 'Bernadette', 'Amy']
ages = [27, 33, 27, 41, 28, 29, 30]


def combineInfo(name, age):
    if name == 'Sheldon':
        return(f"Name of character is Sheldon and he is 27")
    else :
        return(f"Name of character is {name} and he is {age}")


indexCharacter = random.randint(0,6)
ageIndex = random.randint(0,6)
print(combineInfo(characters[indexCharacter], ages[ageIndex]))

Name of character is Penny and he is 27

In [1]:
import turtle
screen = turtle.Screen()
screen.bgcolor('red')
screen.title("Drawing a line for practice")

myTurtle = turtle.Turtle()
#myTurtle.pensize(5)
myTurtle.shape("turtle")
#myTurtle.forward(100)

for x in range(0,8):
    myTurtle.forward(100)
    myTurtle.backward(100)
    myTurtle.left(45)

myTurtle.hideturtle()
turtle.done()

In [1]:
import turtle
screen = turtle.Screen()
screen.bgcolor('blue')
screen.title("Drawing a circle for practice")
myTurtle = turtle.Turtle()
myTurtle.fillcolor('red')
myTurtle.begin_fill()
myTurtle.circle(100)
myTurtle.end_fill()

turtle.done()